/* 
    Author: Shreya Jaiswal;
    Theme: Restaurant Food Order;
    Version: 1.0;
*/
/* CSS for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}



.container{
  
    width: 80%;
    margin: 0 auto;
    padding: 0.5%;
    /* 1% for top & bottom in margin whereas auto for left& right */ 
}
.img-responsive{
    width: 100%;
    
}

.img-curve{
    border-radius: 10px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}

.clearfix{
    clear: both;
    float:none;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 0.5%;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}

.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 1rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position:relative;
}
.float-text{
    position: absolute;
    bottom: 30px;
    left: 40%;
}




/*css for navbar section  */
.logo{
    
    width: 10%;
    float: left;
}
.menu{
    line-height:5px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* Css for food search section */
.Foodsearch{
    background-image: url(../images/Half.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8% 0;
}
.Foodsearch input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
}

/* CSS for categories */

.categories{
    padding: 4% 0;
}
.Box-3{
    
    width: 28%;
    float: left;
    margin: 2%;
}

/*CSS for Food menu */

.food-menu{
    background-color: #ececec;
    padding: 2% 0;
}
.food-menu-box{
width:43%;
margin: 1%;
padding: 1%;
float: left;
background-color:white;
border-radius: 8px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 0.8rem;
    color: #747d8c;
}

/* css for social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* css for mobile size- smaller screen */
@media only screen and(max-width:768px){
.logo{
    width: 80%;
    float: none;
    margin: 1% auto;

}
.menu ul{
    text-align: center;
}
.Foodsearch input[type="search"]{
    width: 90%;
    margin-bottom: 5%;
    padding: 2%;
}
.btn{
    width: 93%;
    padding: 2%;

}
.Foodsearch{
    padding: 10% 0;
}
.categories{
    padding: 20% 0;
}
.h2{
    margin-bottom: 10%;
}
.Box-3{
    width: 90%;
    margin: 4% auto;
}
.food-menu{
    padding: 20% 0;
}
.food-menu-box{
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
}
.social{
    padding: 5% 0;
}
}